<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Expensive Plants</title>

<style>
body {background-color: powderblue;}
h1   {color: blue;
 text-align: center;}
h2   {color:green} 
h3   {color:black}

</style>


</head>
<body>
<h1>Welcome to Expensive Plants List!!!</h1>
<h2>Top 5 of the most expensive plants!</h2>
<br>
<h3>5. Saffron crocus: $1,200 - $1,500 per pound</h3>
<img src="saffron.jpg" alt="Saffron">
<br>
<h3>4. Rotchschild's orchid: $5,000 per plant</h3>
<img src="rotchschilds.jpg" alt="Rotchschild's orchid">
<br>
<h3>3. Shenzhen Nongke orchid: $202,000 per plant</h3>
<img src="shenzhen.jpg" alt="Shenzhen Nongke orchid">
<br>
<h3>2. Juliet rose: $5 million</h3>
<img src="juliet.jpg" alt="Juliet rose">
<br>
<h3>1. Kadupul flower: Priceless</h3>
<p>Few living things are both as poetic and ephemeral as the Kadupul flower, a fleeting beauty from Sri Lanka <br>
that blooms as infrequently as once a year. And when it does bloom, it does so in the dark of night and withers <br>
 away before dawn ... so transient, it simply can't be purchased.</p>
<img src="kadupul.jpg" alt="Kadupul flower">




</body>
</html>